#DB URL

DB_URL=

#PORTS

AUTH_PORT=
USER_SERVICE_PORT=
LAB_SERVICE_PORT=
PRODUCT_SERVICE_PORT=
ORDER_SERVICE_PORT=
PAYMENT_PORT=
AI_SERVICE_PORT=
APPOINTMENT_PORT=
API_GATEWAY_PORT=

#URLS

API_GATEWAY_URL=
AUTH_SERVICE_URL=
USER_SERVICE_URL=
LAB_SERVICE_URL=
PRODUCT_SERVICE_URL=
ORDER_SERVICE_URL=
PAYMENT_URL=
AI_SERVICE_URL=
APPOINTMENT_SERVICEURL=

#JWT KEYS

JWT_SECRET=
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=

SALT=

#CLOUDINARY KEYS

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#REDIS KEYS

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

#SMTP KEYS

EMAIL_APP_PASSWORD=
EMAIL=

#GOOGLE LOGIN

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#KAFKA KEYS

KAFKA_BROKER=

#RAZORPAY KEYS

RAZORPAY_API_KEY=
RAZORPAY_SECRET_KEY=

#GROQ KEYS

GROQ_API_KEY=

#JITSI KEYS

JITSI_DOMAIN=