@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-btn-bg: #004097;
  --primary-btn-text: #ffffff;
}

.MuiButton-root {
  background-color: var(--primary-btn-bg) !important;
  color: var(--primary-btn-text) !important;
  text-transform: capitalize !important;
}